body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'LGSmart';
  src: url(./assets/fonts/LGSmHaL.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'LGSmart';
  src: url(./assets/fonts/LGSmHaR.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'LGSmart';
  src: url(./assets/fonts/LGSmHaSB.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'LGSmart';
  src: url(./assets/fonts/LGSmHaB.ttf);
  font-weight: 700;
}

.swal2-popup {
  font-family: LGSmart;
}
.swal2-styled {
  font-family: LGSmart;
}
